@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
	* {
		margin: 0;
		padding: 0;
		font-family: inherit;
		color: currentColor;
		user-select: none;
		box-sizing: border-box;
	}

	body {
		@apply font-sans;
		min-height: 100vh;
		overflow: hidden;
	}
}
